<a href="https://colab.research.google.com/github/kellyhernandezd/intro_python_202320/blob/main/Introduccion.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

#introduccion a python
##uso de programacion y algoritmia UPB 202320
- Nombre: kelly hernandez
- ID: 000493245
- Email: kelly.hernandezd@upb.edu.co

 Esta es la expresion de la linea recta:
 $$y = mx +b $$
 donde $x$ es la posición

In [ ]:
# Mis primeras líneas de código python
name = "kelly"
print("hello,", name)

hello, kelly

In [ ]:
firstname  = "kelly"
lastname = "Johana"
age = "18 años"
city = "cienaga de oro"
food = "pizza"

print("Mi nombre es,", firstname,lastname, "y tengo,", age, "vivo en,", city , "y me gusta,", food)

Mi nombre es, kelly Johana y tengo, 18 años vivo en, cienaga de oro y me gusta, pizza

In [9]:
a = 3
b = 4.5
c = a + b
print(type(a))
print(type(b))
print(c)
c = c * a
print(c)
c = int(c / b)
print(c)
d = 0.3
c += 0.3
print (c)

<class 'int'>
<class 'float'>
7.5
22.5
5
5.3

In [14]:
m = 5
b = 2
x = -3
y = m * x + b
print(y)
x = -2
y = m * x + b
print(y)
x = -1
y = m * x + b
print(y)
x = 0
y = m * x + b
print(y)
x = 2
y = m * x + b
print(y)
x = 3
y = m * x + b
print(y)

-13
-8
-3
2
12
17

In [16]:
a = 3
b = 4.5
c = -8
disc = (b ** 2 - 4 * a * c) ** (1/2)
x_p = (-b + disc) / (2 * a)
x_n = (-b - disc) / (2 * a)
print("x_p:", x_p)
print("x_n:", x_n)
print("-"*10)

x_p: 1.046988221070652
x_n: -2.546988221070652
----------

In [17]:
firstname = "Kelly"
lastname = "Hernandez"
fullname = firstname + "  " + lastname
print(fullname)

Kelly  Hernandez

In [20]:
song = """un elefante se balanceaba sobre
 la tela de una araña como veía que resistia fue
 a buscar otro"""

In [23]:
a = 3
b = 5
print(a == b)
print(a  != b)
print(a > b)
print(a < b)
print(a == b) and  (b + 3 > 5)
print(a == ) or (b + 3 > 5)
print(not (a == b))

SyntaxError: ignored